{# src/Blogger/BlogCoursIhmBundle/Resources/views/index.html.twig #}
 
{% extends 'BloggerBlogCoursIhmBundle:Default:baseblog.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}{{ parent()}}

<h2>{{ article.titre }}</h2>
  <i>Par {{ article.auteur }}, le {{ article.date|date('d/m/Y') }}</i>
 
  <div class="well">
    {{ article.contenu }}
  </div>

  <p>
    <a href="{{ path('BloggerBlogCoursIhm:Default:index', {'page': 1}) }}"* class="btn">
      <i class="icon-chevron-left"></i>
      Retour à la liste
    </a>
  </p>

  bloc body index
{% endblock %}
