<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		{% block stylesheets %}
		<!-- some stylesheet, using the asset() function to get the link to the resource -->
		
		 <link href="{{asset('bundles/bloggerblogcoursihm/bootstrap/css/bootstrap.css')}}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="{{asset('bundles/bloggerblogcoursihm/bootstrap/css/bootstrap-responsive.css')}}../assets/css/bootstrap-responsive.css" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" href="{{asset('bundles/bloggerblogcoursihm/css/base.css')}}">-->
		{% endblock %}
		<title>{% block title %}bloc titre{% endblock %}</title>
	</head>
	<body>
	{% block body %}

		{% block header %}
		<header>
		<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}">Blog Cours Ihm</a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right">
              Logged in as <a href="#" class="navbar-link">Username</a>
            </p>
            <ul class="nav">
              <li class="active"><a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}">Home</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
		</header>
		<div class="container-fluid">
      		<div class="row-fluid">
		{% endblock %}
		{% block corps %}
		<div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Menu</li>
              <li>Se connecter</li>
				<li><a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}">       Accueil</a></li>
				<li><a href="{{ path('blogger_blog_cours_ihm_ajouterpage') }}"> Composer</a></li>
				<li>Jouer</li>
              
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
		{% endblock %}
		{% block footer %}
		</div><!--/row-->
		</div><!--/row-->
		<footer>
		<div>footer !</div>
		</footer>
		</div><!--/.fluid-container-->
		{% endblock %}
	{% endblock %}
	</body>
</html>