{# src/Blogger/BlogCoursIhmBundle/Resources/views/index.html.twig #}
 
{% extends 'BloggerBlogCoursIhmBundle:Default:baseblog.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
{% block header %}{{ parent()}}{% endblock %}
{% block corps %} {{ parent()}}

    <div class="hero-unit">
      <h1>Hello !</h1>
      <p>Bienvenue sur mon blog, bonne visite !</p>
    </div>
       {% for article in articles %}   
          <div class="row-fluid">
            <div class="span4">
              <h2><a href="{{ path('blogger_blog_cours_ihm_articlepage', {'id': article.id}) }}">
              {{ article.titre }}
              </a></h2>
              <p><i>Par {{ article.auteur }}, le {{ article.creationDate|date('d/m/Y') }}</i>
              <div class="well">
              {{ article.content | truncate(50, true, '[...]')}}
              </div> <a href="{{ path('blogger_blog_cours_ihm_supprimerpage', {'id': article.id}) }}" class="supprimer">Supprimer</a>
              <a href="{{ path('blogger_blog_cours_ihm_modifierpage', {'id': article.id}) }}" class="modifier">Modifier</a><a class="btn" href="{{ path('blogger_blog_cours_ihm_articlepage', {'id': article.id}) }}">Lire plus &raquo;</a></p>
            </div><!--/span-->  	
    {% endfor %}

  </div>
  <div class="footerArticle"><a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}" >
        Retour à la liste
      </a>
      {% if page>1 %}
      <a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': page-1} ) }}" class="btn"><i class="icon-chevron-left"></i>Precedent</a>
      {% endif %}
      <a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': page+1 }) }}" class="btn">Suivant<i class="icon-chevron-right"></i></a></div>
</section>
{% endblock %}
{% block footer %}{{ parent()}}{% endblock %}
{% endblock %}
