{# src/Blogger/BlogCoursIhmBundle/Resources/views/index.html.twig #}
 
{% extends 'BloggerBlogCoursIhmBundle:Default:baseblog.html.twig' %}

{% block title %}{{ parent() }} - Index{% endblock %}

{% block body %}
{% block header %}{{ parent()}}{% endblock %}
{% block menu %}{{ parent()}}{% endblock %}

<section>
  <div class="section">

    {% for article in articles %}
    <a href="{{ path('blogger_blog_cours_ihm_articlepage', {'id': article.id}) }}" class="btn">
        <i class="icon-chevron-left"></i>
    <h2>{{ article.titre }}</h2>
    </a>
    <a href="{{ path('blogger_blog_cours_ihm_supprimerpage', {'id': article.id}) }}" class="supprimer">Supprimer</a>
  	<i>Par {{ article.auteur }}, le {{ article.creationDate|date('d/m/Y') }}</i>
  	<div class="well">
    	{{ article.content }}
  	</div>
    {% endfor %}

  </div>
  <div class="footerArticle">footer1 <a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': 1}) }}" class="btn">
        <i class="icon-chevron-left"></i>
        Retour à la liste
      </a>
      {% if page>1 %}
      <a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': page-1} ) }}">Precedent</a>
      {% endif %}
      <a href="{{ path('blogger_blog_cours_ihm_homepage', {'page': page+1 }) }}">Suivant</a></div>
</section>

{% block footer %}{{ parent()}}{% endblock %}
{% endblock %}
